<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="marvin.com.br.diariobordomaquinario">
    <!-- INTERNET e rede -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" /> <!-- Localização -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_BACKGROUND_LOCATION" /> <!-- Serviços em segundo plano -->
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_LOCATION" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_MEDIA_PROJECTION" /> <!-- Vibração -->
    <uses-permission android:name="android.permission.VIBRATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_diario_bordo"
        android:label="Diario de Bordo de Máquinas"
        android:networkSecurityConfig="@xml/network_security_config"
        android:roundIcon="@mipmap/ic_diario_bordo_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.DiarioBordoMaquinario">
        <activity
            android:name=".activity_qr_scanner"
            android:exported="false" />
        <activity
            android:name=".QrScannerActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.DiarioBordoMaquinario" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service
            android:name=".Serviço.LocationService"
            android:enabled="true"
            android:exported="false"
            android:foregroundServiceType="location"
            android:stopWithTask="false" />

        <activity android:name=".Serviço.PermissionRequestActivity" />
    </application>

</manifest>